@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* *::selection {
  background-color: red !important;
  color: aqua;
} */

/* NAVBAR */
.navbar {
  box-shadow: -10px 1px 20px black;
  font-size: 1.6rem;
  line-height: .8;
  padding: 0 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .navbar {
    padding: 1rem 0;
  }
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
  padding: 0 0.8rem;
}

.cart {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* .nav-item :hover :not(:last-of-type) {
  border-bottom: 2px solid rgb(0, 0, 0) !important;
  margin: -1px 0;
} */

.drop-link {
  font-size: 1rem;
  line-height: 2.5;
}

.drop-link :hover {
  font-size: 2rem;
  border-bottom: 2px solid rgb(0, 0, 0) !important;
}

/* BASIC COMPONENT */

button {
  font-family: "Playfair Display", serif !important;
  border-radius: 0 !important;
  background: linear-gradient(147deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(105, 107, 108, 1) 100%) !important;
  color: white !important;
  border: none !important;
  transition: all 0.3s !important;
 
}
button:not(.action) {
  padding: 2px 12px;
}

button:hover {
  transform: scale(1.2);
  background: linear-gradient(147deg,
      rgb(185, 177, 177) 0%,
      rgba(255, 255, 255, 1) 100%) !important;
  color: black !important;
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 3rem 0;
  background: linear-gradient(90deg,
      rgba(97, 97, 108, 1) 0%,
      rgba(47, 47, 47, 1) 100%);
  color: white;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-item {
  font-size: 1.5rem;
  padding: 0 1.9rem;
}

.footer-link {
  text-decoration: none;
  color: white;
  padding: 1rem 0;
}

.footer-link:hover {
  border-bottom: 2px solid rgb(255, 255, 255) !important;
  color: antiquewhite;
}

/* Paragraph */

.contact-left img {
  width: 100%;
}

.heading {
  background-color: black;
  color: white;
  font-size: 2rem;
  padding: 0 1rem;
  line-height: 1.7;
  display: inline-block;
}

/* PAGE NOT FOUND */

.pnf {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
}

.pnf h1 {
  font-size: 5.5rem;
  font-weight: 800;
}

.pnf button {
  font-size: 2rem;
  border-radius: 0;
  padding: 1rem 2rem;
}

.pnf button a {
  text-decoration: none;
  color: white;
}

.pnf button a:hover {
  color: rgb(0, 0, 0);
}

/* FORM */

.background {
  background: linear-gradient(153deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%);
  min-height: 75vh;
}

.form_Container {
  background-color: white;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form_Container h1,
.form_Container button {
  font-family: "Playfair Display", serif;
  width: 100%;
}

.form_Container input {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.form_Container button {
  font-size: 2rem;
}

.forgot-pw {
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  border: 1px solid grey;
  font-size: 2rem;
  text-decoration: none;
  color: gray;
  text-align: center;
}

.card-inside-text {
  color: black;
  text-decoration: none;
}

/* Admin Dashboard */
.actions-row{
display: flex;
  justify-content: center;
  align-items: center;
}
button.action {
  margin: 0 4px;
display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px !important;
 width: 28px;
  height: 28px;
  font-size: 16px;
  border: 1px solid grey !important;
  padding: none !important;
}

button.delete {

  background: lightcoral !important;
  color: red !important;
  

}

button.update {

  background: gold !important;
  color: red !important;

}


h1,button{
  text-transform: capitalize;
}

.card{
  overflow: scroll;
}
